.logo{
    height: 110px;
   
    .logoleft{
        width: 190px;
        float: left;
        img{
            width: 100%;
        }
    }
    .logoright{
        float: left;
        width: 160px;
        img{
            width: 100%;
        }
    }
    .serach{
        margin-left: 20px;
        float:left;
        .icon-sousuo{
            width: 40px;
            height: 40px;
            font-size: 20px;
            line-height: 40px;
            float:left;
            margin-top: 30px;
            border: 2px solid orange;
            border-right:none;
            color:#D8D8D8;
            text-align: center;
        }
        .serach1{
            padding: 0;
            margin-top: 30px;
            width: 420px;
            height: 40px;
            border: 2px solid orange;
            border-left:none;
            float:left;
            
        }
        .serach2{
            padding: 0;
            margin-top: 30px;
            width: 120px;
            height: 44px;
            background-color: orange;
            font-size: 20px;
            font-weight: 600;
            color:white;
            float:left;
            cursor:pointer;
        }
        p a{
            padding-right: 8px;
            margin: 0 5px;
            border-right: 1px solid #D8D8D8;
            color:#D8D8D8;
            font-size: 12px;
            line-height:36px ;
            &:hover{
                color:red;
            }
        
        }
    }
}

