@import "toolbar";
@import"logo";
@import"footer_nav";
@import "footer";
.main{
    width: 1190px;
    margin: 0 auto;
    li{
        width: 200px;
        padding: 10px;
        float: left;
        margin: 0 10px 10px 0;
        border: 1px solid #ccc;
        height: 310px;
        position: relative;
        a{
            color:black;
        }
        p {
            width: 200px;
            height: 48px;
            line-height: 24px;
            overflow: hidden;
        }
        img {
            width: 200px;
            height: 200px;
            display: block;
        }
        span {
            display: block;
         }
    }
}
